.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh; /* Adjusts the height to occupy most of the viewport */
    text-align: center;
  }
  
  .not-found-container h1 {
    font-size: 48px;
    color: #ff6b6b;
    margin-bottom: 20px; /* Add some margin for spacing */
  }
  
  .not-found-container p {
    font-size: 18px;
    margin: 10px 0 20px; /* Add margin to create space between elements */
  }
  
  .back-home-btn {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .back-home-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  
  @media (max-width: 768px) {
    .not-found-container h1 {
      font-size: 36px; /* Reduce font size on smaller screens */
    }
    
    .not-found-container p {
      font-size: 16px; /* Smaller font size for better readability */
    }
  
    .back-home-btn {
      font-size: 14px; /* Adjust button text size */
    }
  }
  