<div class="search-container">
    <div class="search-wrapper">
      <i class="fas fa-search search-icon"></i>
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (keyup)="onSearch()"
        placeholder="Search articles..."
        class="search-input"
      >
      <i class="fas fa-times clear-icon" *ngIf="searchQuery" (click)="searchQuery = ''; onSearch()"></i>
    </div>
    <div class="search-results" *ngIf="searchResults.length > 0">
      <div *ngFor="let article of searchResults" (click)="goToArticle(article.id)" class="result-item">
        <i class="far fa-newspaper mr-2"></i>
        <div class="item-content">
          <strong>{{ article.title }}</strong>
          <p>{{ article.subtitle }}</p>
        </div>
      </div>
    </div>
    <div class="no-results" *ngIf="noResultsFound">
      No results found
    </div>
    <div class="loading-spinner" *ngIf="loading">
      <i class="fas fa-spinner fa-pulse"></i>
    </div>
  </div>